<ul class="nav nav-tabs nav-justified" role="tablist">
	<% @current_challenge.questions.count.times do |i| %>
	<li <%= "id=question_tab_#{i}" %> <%= 'class=active' if i==0 %> ><a href="#">Question #<%= i+1 %></a></li>
	<% end %>
</ul>
<div id="questions_content" class="questions_content" >
	<% if @current_challenge.new_record? %>
		No Challenges running.
	<% else %>
		<% @current_challenge.questions.each_with_index do |ques,i| %>
	<div <%= "id=question_data_#{i}" %> <%= i==0 ? "class=on_display" : "class=hidden " %>>
		<h3><%= ques.title %></h3>
		<div style="white-space: pre-wrap;"><p><%= ques.description %></p></div>
		<div <%= "id=solution_space_#{ques.id}" %> >
			<% ques.question_test_cases.each_with_index do |qtc,index| %>
				<div class="container-fluid well">
					<label class="col-md-2">Test Case <%= index+1 %></label>
					<span <%= "id=user_test_case_#{qtc.id}" %>>
						<span class="col-md-2"><%= link_to("Test Case Input",qtc.input_file.url) %></span>
					</span>
					<% if !qtc.submitted?(current_user) %>
						<%= form_tag("/validate_submission", :multipart => true, :id => "submission_form_id_#{qtc.id}", remote: true, class: "form-inline") do %>
						<span class="col-md-4 form-group"><input name="solution_file" type="file" class="file-input"></span>
						<%= hidden_field_tag "test_case_id",qtc.id %>
						<input type="submit" value="Submit" class="btn btn-default form-group"	/>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
		<% end %>
	<% end %>
</div>
