<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Code-A-Thon | Lister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.png' , :type => 'image/png' %>
    <!-- Custom CSS -->

    <!-- Custom Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<!-- For the part where User HAS LOGGED IN -->
<% if session[:user] %>
<body>

    <!-- Navigation -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <li class="sidebar-brand">
        <a href="#top"  onclick = $("#menu-close").click(); >Welcome !</a>
      </li>
      <li>
        <a href="#top" onclick = $("#menu-close").click(); >Home</a>
      </li>
      <li>
        <a href="#about" onclick = $("#menu-close").click(); >About</a>
      </li>
      <li>
        <%= link_to('Logout',logout_path) %>
      </li>
    </ul>
  </nav>

  <%= yield %>

  <!-- Custom Theme JavaScript -->
  <script>
  // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    $("#login").click(function(e) {
        $("#signin_form").show();
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || locatiohostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
  </script>

</div>
</body>

<!-- This if for When user has not logged in => Login Page -->
<% else %>
<body id="homePageDesign">
  <div class="container">
    <%= yield %>
  </div>
</body>

<% end %>
</html>
