<!DOCTYPE html>
<html>
<head>
  <title>Code-A-Thon | Lister</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.png' , :type => 'image/png' %>
</head>

<!-- For the part where User HAS LOGGED IN -->
<% if session[:user] %>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> Lister Code-A-Thon</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= is_active?(dashboards_path) %>"><%= link_to "Dashboard", dashboards_path %></li>
          <% if session[:user].is_a?Admin %>
          <li class="<%= is_active?(challenges_path) %>"><%= link_to "Challenge", challenges_path %></li>
          <% else %>
          <li class="<%= is_active?(challenges_path) %>"><%= link_to "Challenge", challenges_path %></li>
          <li class="<%= is_active?(practices_path) %>"><%= link_to "Practice", practices_path %></li>
          <% end %>
        </ul>
        <ul class="nav nav-side-bar">
          <li><span id="profile-name"> Hi <%= username(session) %></span></li>
          <li class="dropdown pull-right drop-extra">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"> <span class = "glyphicon glyphicon-cog"></span> </a>
            <ul class="dropdown-menu">
              <li><a href="#">Help</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Sign out</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
      <!-- My account box-->

    </div>
  </div>

  <div class="questions_container">
    <div class="well sidebar" id="live_feed_container">
      <%= render :partial => "shared/live_feed" %>
    </div>
    <div id="challenge_container" class="well main_section">
      <%= yield %>
    </div>
  </div>
  <!-- Footer -->
  <div class="footer navbar navbar-inverse navbar-fixed-bottom">
    <ul class="footer-links muted">
      <li>Currently v1.0.1</li>
      <li>·</li>
      <li><a href="https://github.com/dtsdwarak/codathon_engine">GitHub</a></li>
      <li>·</li>
      <li><a href="../faq">FAQ</a></li>
      <li>·</li>
      <li><a href="../about/">About</a></li>
      </ul>
  </div>
</div>
</body>

<!-- This if for When user has not logged in => Login Page -->
<% else %>
<body id="homePageDesign">
  <div class="container">
    <%= yield %>
  </div>
</body>

<% end %>
</html>
